<!doctype html>
<html>
{% include 'head.html' %}
<body>
		<div id="all">
		<header>
			<h1>
				À propos
			</h1>
		</header>

		<main>
		<noscript>Javascript is required, sorry</noscript>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		<div style="text-align:justify;width:50%">
			{{ tr_about|safe }}
		</div>
		</main>
	</div>
	{% include 'footer.html' %}
	{% include 'jsprogress.html' %}
</body>
</html>


