<footer>
    <p class="float-right">
	<a href="https://source.unsplash.com/daily?cinema,theater">{{ tr_background }}</a> -
        <a href="https://framagit.org/Thuban/torstream">torstream</a> -
		<a href="{{ url_for('about') }}">about</a> -
        <a href="https://liberapay.com/thuban/donate">♥ Donate</a>
    </p>
</footer>
